@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #1f1d2b;
    font-family: 'Open Sans' !important;
}

.pdfview input,
.pdfview button {
  font: inherit;
}

.pdfview header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.pdfview header h1 {
  font-size: inherit;
  margin: 0;
}

.pdfview__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdfview__container__load {
  margin-top: 1em;
  color: white;
}

.pdfview__container__document {
  margin: 0;
  display: flex;
  align-items: center;
}

.pdfview__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdfview__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.pdfview__container__document .react-pdf__Page canvas {
  height: auto !important;
}

.pdfview__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.video-container {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.pdf-wrapper {
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}
.pdf-wrapper:before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #aeadba;
}
.pdf-wrapper > .resize-btn {
    content: "";
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4c4b52;
    border: 7px solid #aeadba;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
    color: #aeadba;
}